.THIS.helloCSS {
    font-size:20px;
    font-family:Calibri;
    color:blue;
    background-color: powderblue;
}
.THIS.helloCSS1 {
    font-size:25px;
    color:blue;
    background-color: red;
}
.THIS .nested {
    font-size:50px;
    color:red;
    background-color: green;
}